<% if (error) { %>
<div class="alert alert-danger"><p><%= error %></p></div>
<% } %>

<div class="row">
    <div class="jumbotron">
        <h1>Welcome to Live Chat</h1>
        <p class="lead">Please log in to chat</p>
    </div>
</div>

